/* GENERAL */


*{
margin:0;
padding:0px;
list-style-type: none;
font-family:Montserrat,sans-serif;
box-sizing:border-box;

}

body{
}


header{
    /* border:1px solid black; */
    padding:3rem 5rem 3rem 5rem;
    background-color: #ffffff;
    width:100%;
    position:fixed;
    top:0;
    z-index:99;
    box-shadow: 3px 2px 6px #ddd;
}




nav.menu-mobile{
    display:none;
}



#clic-menu,label.clic-menu{
    display:none;
}



.intro{
    margin-top:200px;
}

section{
    padding:3rem 3rem;

}

a{
    text-decoration:none;
}






.flex{
    display:flex;
}

.flex-wrap{
flex-wrap:wrap;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


.align-start{
    align-items:flex-start;
}

.flex-column{
    flex-direction: column;
}

.align-end{
    align-items: flex-end;

}

.flex-end{
    justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
    
}

.self-flex-end{
    justify-self: end;
}






/* TITRES */

h1, h2, h3{
    margin:1.5rem 0rem ;
}



.border{
    /* border:1px solid black; */
}




/* ----------------------------HEADER */

#nav-top input[type=checkbox]{
    display:none;
}



label[for=mobile]{
    color:black;
    display:none;
}

li.dropdown-contact{
    display:none;
}



/* MEDIA QUERIES */



@media screen and (max-width:768px){



    .conteneur-nav-top{
        position: relative;
        width:60%;

    }
    

    #nav-top{
        align-items: flex-start;        
        /* position: sticky; */
        }
        

        label[for=mobile]{
            display:block;
        }
        
        .conteneur-nav-top{
            position:relative;
            background-color:rebeccapurple;
            width:100%;
            /* height: 80px; */
        }

        .conteneur-nav-top ul{
            position:absolute;
            background-color: #FF00B8;
            width:100%;
            top:5.1rem;
            right:0;
            
        }


    .conteneur-nav-top label{
        position:absolute;
        right:0px;
        top:0;
        color:black;
        /* width:100%; */
        /* background-color:pink; */
        padding:0.9rem;
        border: none;
        text-transform: uppercase;
        text-align: right;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }
        
    
        li.dropdown-contact{
            display:block;
        }

        #nav-top ul{
            display: none;}

        
            .desktop-button{
                display: none;
            }
            
            
            
            #nav-top input[type=checkbox]:checked + ul.dropdown-menu{
                display:block;
            
            }
            
            #nav-top input[type=checkbox]:checked + ul li{
                text-align: right;
            }

         
            





}

















.logo{
    min-width:60px;
    min-height:60px;
    background:url(img/emiliaraffalli-logo.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.logo:hover{
    background:url(img/emiliaraffalli-logo-green.svg) no-repeat;
    background-size: contain;
    background-position: center;
}


#nav-top ul li{
    min-width:8rem;
    text-align: center;
    margin: 10px 10px;
}

/* #nav-top a{
    text-decoration: none;
    font-weight: 700;
    color:black;
    font-size:1em;

} */

a{
    color:#001AFF;
}

a:hover{
    color:#14F661;
}


#nav-top a{
    color:black;
    font-weight: 700;

}

#nav-top a:hover{
    color:#14F661;
    font-weight: 700;

}




.social-media{
    /* background-color:grey; */
    margin:1rem 0;
    min-width:100px;
}



.social-media a{
    min-width:35px;
    min-height:35px;
}

.social-media-footer a{
    min-width:30px;
    min-height:30px;
}

.social-media a:first-child{
    background:url("img/picto-linkedin.svg") no-repeat;
    background-size:contain;

}


.social-media a:first-child:hover{
    background: url("img/picto-linkedin-green.svg") no-repeat;
    background-size:contain;

}



.social-media a:nth-child(2){
    background: url("img/picto-insta.svg") no-repeat;
    background-size:contain;
}



.social-media a:nth-child(2):hover{
    background: url("img/picto-insta-green.svg") no-repeat;
    background-size:contain;
}


.social-media a:nth-child(3){
    background: url("img/picto-mail.svg") no-repeat;
    background-size:contain;
}


.social-media a:nth-child(3):hover{
    background: url("img/picto-mail-green.svg") no-repeat;
    background-size:contain;
    background-position: bottom;
}





.social-media-footer a:first-child{
    background:url("img/picto-linkedin-white.svg") no-repeat;
    background-size:contain;

}


.social-media a:first-child:hover, .social-media-footer a:first-child:hover{
    background: url("img/picto-linkedin-green.svg") no-repeat;
    background-size:contain;

}



.social-media-footer a:nth-child(2){
    background: url("img/picto-insta-white.svg") no-repeat;
    background-size:contain;
}



.social-media a:nth-child(2):hover, .social-media-footer a:nth-child(2):hover{
    background: url("img/picto-insta-green.svg") no-repeat;
    background-size:contain;
}


.social-media-footer a:nth-child(3){
    background: url("img/picto-mail-white.svg") no-repeat; 
    background-size:contain;
}


.social-media a:nth-child(3):hover, .social-media-footer a:nth-child(3):hover{
    background: url("img/picto-mail-green.svg") no-repeat;
    background-size:contain;
    background-position: bottom;
}

















input[type=button]{
    background-color: #001AFF;
    padding:0.9rem;
    border: none;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: #14F661;

}




/* REALISATIONS */

.realisations{
    background-color:#ffffff;
    border-bottom: 2px solid #001AFF;
}


article{
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width:20rem;
    height:20rem;
    /* background-color:#001AFF; */
    justify-content: space-around;
    margin:1rem;
}





.article1{
    background-image: url("img/projets/Mk\ production-logo_FEED-INSTA.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FF00B8;
}

.article2{

    background-color:#14F661;
}

.article3{
  
    background-color:#001AFF;
}

.article4{
  
    background-color: #FF00B8;
}

.article5{
 
    background-color:#001AFF;
}

.article6{

    background-color:#14F661;
}





/* EXPERTISE */

section.expertise{
    position: relative;
}

.triangle{
    width:60px;
    height:60px;
    background:url("img/triangle-blue.svg") no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
}




section.expertise article{
    background-color: #ddd;
}

.expertise article:hover{
    opacity: 0.5;
}





/* CONTACT */




section.contact, section.expertise{
    background-color:#F6F7FF;
    

}

section.contact > div{
    margin:0rem 9rem;
}


section.contact form{
    min-width:50%;
}



label{
    margin:10px 0px 10px 0px;
}

.input{
    border:none;
    padding:0.7rem;
    box-shadow: inset 1px 1px 2px grey;
    width:100%;
    

}




input[type="checkbox"]{
    margin: 0.5rem 0;
  }
  
 






/* FOOTER */

footer{
    background-color:#001AFF;
    min-height:100px;
    padding:3rem 5rem 2rem 5rem;

}

footer p{
    color:#ffffff;
    font-size:0.8em;
}

.nav-bottom{
    /* background-color: antiquewhite; */
    width:100%;
    margin-bottom:1rem;


}

.nav-bottom li{
    /* background-color: #14F661; */
    margin: 10px 30px;

}


.nav-bottom a{
    color:#ffffff;
    font-weight: 500;
    font-size:0.8em;


}




.nav-bottom a:hover{
    color:#14F661;

}

.arrow{
    min-width:35px;
    min-height:35px;
    background:url("img/arrow-white.svg") no-repeat;
    background-size: contain;
    cursor:pointer;
}


.nav-bottom-wrap{
    width:100%;
}





@media screen and (max-width:768px){


nav.menu-mobile{
    display:block;
}

header{
    position:relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


nav.menu-mobile{
    position:absolute;
    top:2rem;
    right:2rem;
    left:2rem;
    background-color: #001AFF;
    z-index:101;
    width:90%;
        padding:2rem;
}



ul.menu-mobile li{
padding:0.9rem;
border-bottom:1px dashed #14F661
}


ul.menu-mobile li a{
    color:#ffffff;
    font-weight: 500;
}

ul.menu-mobile li a:hover{
    color:#14F661;
    font-weight: 500;
}




/* .menu-mobile input[type=checkbox]{
    display:none;
} */


nav.menu-mobile{
    display:none;
}


nav.menu-mobile input[type=checkbox]:checked + ul.dropdown-menu{
    display:block;

}

#nav-top input[type=checkbox]:checked + ul li{
    text-align: right;
}






/* 
.menu-mobile label[for=mobile]{
    color:#ffffff;
    z-index: 200;;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;

} */

label.menu-mobile {
    padding:0.9rem;
    color:#ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: yellow;
}


#clic-menu{
    display:block;
}

input#clic-menu, input#close-menu{
    display:none;
}



label.clic-menu{
display: block;
padding:0.9rem;
    color:#001AFF;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;


}

label.close-menu{
    display: block;
    padding:0.9rem;
    color:#ffffff;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: right;

    
    }




input[type=checkbox]:checked + nav.menu-mobile{
    display:block;

}


input#close-menu[type=checkbox]:checked{
    display:none;

}



}








@media screen and (max-width:1100px){


section.contact {
    flex-direction: column;

}

section.contact > div{

    justify-content: flex-start;
    margin:3rem 0;
}


section.contact form{
    width:100%;
}
}